
.App {
  text-align: center;
  background-color: white;
}


.App-logo {
  height: 200px;
  width: auto;
  float: left;
  margin: 2%;
  padding-left: 40px;
}

.App-header {
  background-color: white;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.textocentralizado {
  text-align: center;
}

.textoadireita {
  text-align: right;
  float: right;
} 

.textovertical {
  padding-top: 25%;
}


.textohover:hover {
  color: #06bee7;
}



.menu {
  font-size: xx-large;
  text-decoration: overline;
  color: black;
  margin-left: 40px;
  float: right;
}

.menu:hover {
  color: #51b8d9;
}

.menucontainer {
  margin-top: 7%;
}

.flex-container {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: space-around;
}

.flex-container2{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.gap {
padding-top: 30px;
padding-bottom: 30px;
}

.bloco {
  flex-grow: 1;
  width: 250px;
  height: auto;
  margin: 15px;
}


.borda {
  border-width: 1px;
  border-color: #51b8d9;
  border-style: solid;
  padding: 5px;
}

#portfolio {
  display: content;
}

#contato {
height: 900px;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.branco {
  color: white;
}

p {
  text-align: left;
  font-size: 2vh;
  color: gray;
  margin: 5px;
  flex-basis: 100%;
  font-family: sans-serif;
  text-indent:0.7em;
}





h1 {
  text-align: left;
  font-size: 4vh;
  margin: 5px;
  flex-grow: 1;
  flex: 1 1 auto;
  padding: 20px;
}


h2 {
  font-size: 3.1vh;
  margin: 0px;
}

h3 {
  font-size: 25px;
  margin: 0px;
}

.floatright {
  float: right;
}

.fundocinza {
  background-color: slategrey;
}

body {
  background-color: ghostwhite;
}

.footer{
  background-color: black;
  padding: 40px 0px 40px 0px;
  width: 100%;
}


.fundoredondo {
  border-radius: 50%;
  background-color: #06bee7;
  background-size: 200px;
  width:150px;
  height:150px;
  padding: 0px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.fundoredondo:hover {
 padding: 10px;
}

.caixa {
  margin-left: auto;
  margin-right: auto;
  flex-basis: 400px;
  padding: 25px;
  height: 400px;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}


.portfolio {
  margin-left: auto;
  margin-right: auto;
  flex-basis: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.portfolio:hover {
  -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

@keyframes fadein {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

.fadein {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@media screen and (max-width: 1200px) {




}


@media screen and (max-width: 690px) {

  .menu {
    display: none;
  }

  .App-header {
    height: 200px;
  }


  .App-logo {
    height: 200px;
    width: auto;
    float: none;
    margin: 0%;
    padding-left: 0px;
}




}

